# Скрываем файлы с паролями и переменными окружения
.env
*.env

# Скрываем локальные папки с данными баз (чтобы не гигабайты БД не улетели в Git)
db_data/
wp_data/
grafana_data/

# Специфичные файлы для Linux/Архивов
*.log
.DS_Store

# Terraform 
*.tfstate
*.backup
*.iso
*.terraform/
*.xml
*.hcl
